html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
}
main{
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color:white;
}
main h1{
    width: 100%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
#tabuleiro{
    width: 100%;
    height:200%;
    background-color: black;
    background-size: cover;
    box-shadow:  20px 20px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.card{
    margin: 10px;
    width: 20%;
    height: 30%;
    background-color:greenyellow ;
    background-size: cover;
    border-radius: 50px;
}
button{
    width: 150px;
    height: 50px;

}
